@import "styles/vars.scss";

.spinner {
  color: $white;
  animation: rotation 10s infinite linear;
  transition: all 450ms cubic-bezier(0.215, 0.61, 0.355, 1);
  max-width: 10rem;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-359deg);
  }
}
