@import "styles/responsive.scss";
@import "styles/vars.scss";

.body {
  &_default {
    font-size: $body_default_base;

    @include tablet {
      font-size: $body_default_tablet;
    }

    @include wide-screen {
      font-size: $body_default_widescreen;
    }
  }

  &_big {
    font-size: $body_big_base;

    @include tablet {
      font-size: $body_big_tablet;
    }

    @include wide-screen {
      font-size: $body_big_widescreen;
    }
  }
}

.headline {
  &_default {
    font-size: $headline_default_base;
    line-height: $headline_default_base_lineheight;
    letter-spacing: $headline_default_base_letterspacing;

    @include tablet {
      font-size: $headline_default_tablet;
      line-height: $headline_default_tablet_lineheight;
      letter-spacing: $headline_default_tablet_letterspacing;
    }

    @include wide-screen {
      font-size: $headline_default_widescreen;
      line-height: $headline_default_widescreen_lineheight;
      letter-spacing: $headline_default_widescreen_letterspacing;
    }
  }

  &_big {
    font-size: $headline_big_base;
    line-height: $headline_big_base_lineheight;
    letter-spacing: $headline_big_base_letterspacing;

    @include tablet {
      font-size: $headline_big_tablet;
      line-height: $headline_big_tablet_lineheight;
      letter-spacing: $headline_big_tablet_letterspacing;
    }

    @include wide-screen {
      font-size: $headline_big_widescreen;
      line-height: $headline_big_widescreen_lineheight;
      letter-spacing: $headline_big_widescreen_letterspacing;
    }
  }

  &_display {
    font-size: $headline_display_base;
    line-height: $headline_display_base_lineheight;
    letter-spacing: $headline_display_base_letterspacing;

    @include tablet {
      font-size: $headline_display_tablet;
      line-height: $headline_display_tablet_lineheight;
      letter-spacing: $headline_display_tablet_letterspacing;
    }

    @include wide-screen {
      font-size: $headline_display_widescreen;
      line-height: $headline_display_widescreen_lineheight;
      letter-spacing: $headline_display_widescreen_letterspacing;
    }
  }
}
