// Colors
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$brandYellow: rgba(245, 199, 1, 1);
$brandPink: rgba(246, 206, 219, 1);
$brandRed: rgba(241, 109, 112, 1);
$brandTeal: rgba(136, 198, 219, 1);
$brandPurple: rgba(172, 160, 204, 1);
$brandGreen: rgba(189, 205, 203, 1);

// Fonts
$fontRegular: "Faktum-Regular", sans-serif;
$fontMedium: "Faktum-Medium", sans-serif;
$fontSemibold: "Faktum-SemiBold", sans-serif;
$fontBold: "Faktum-Bold", sans-serif;

// Typography Variables

// Default Body
$body_default_base: 1.6rem;
$body_default_tablet: 1.6rem;
$body_default_widescreen: 1.6rem;

// Big Body
$body_big_base: 1.8rem;
$body_big_tablet: 2.4rem;
$body_big_widescreen: 2.4rem;

// Default Headline
// ... base
$headline_default_base: 2.2rem;
$headline_default_base_lineheight: 2.7rem;
$headline_default_base_letterspacing: 0;
// ... tablet
$headline_default_tablet: 3.2rem;
$headline_default_tablet_lineheight: 3rem;
$headline_default_tablet_letterspacing: -0.1rem;
// ... widescreen
$headline_default_widescreen: 4.4rem;
$headline_default_widescreen_lineheight: 4rem;
$headline_default_widescreen_letterspacing: -0.1rem;

// Big Headline
// ... base
$headline_big_base: 4rem;
$headline_big_base_lineheight: 4rem;
$headline_big_base_letterspacing: -0.1rem;
// ... tablet
$headline_big_tablet: 6.6rem;
$headline_big_tablet_lineheight: 7rem;
$headline_big_tablet_letterspacing: -0.1rem;
// ... widescreen
$headline_big_widescreen: 8.5rem;
$headline_big_widescreen_lineheight: 9rem;
$headline_big_widescreen_letterspacing: -0.1rem;

// Display Headline
// ... base
$headline_display_base: 8rem;
$headline_display_base_lineheight: 8rem;
$headline_display_base_letterspacing: -0.4rem;
// ... tablet
$headline_display_tablet: 15rem;
$headline_display_tablet_lineheight: 15rem;
$headline_display_tablet_letterspacing: -0.5rem;
// ... widescreen
$headline_display_widescreen: 20rem;
$headline_display_widescreen_lineheight: 20rem;
$headline_display_widescreen_letterspacing: -0.6rem;

:export {
  white: $white;
  black: $black;
  brandYellow: $brandYellow;
  brandPink: $brandPink;
  brandRed: $brandRed;
  brandTeal: $brandTeal;
  brandPurple: $brandPurple;
  brandGreen: $brandGreen;
}
